:root {
    --corCards: #e3e3e3ea;
    --corCardsHover: #e3e3e3;
    --corFontTitulo: #e3e3e3;
    --corFont: #010033;
}

body {
    margin: 0;
}

main { /*estilo da página toda*/
    background-image: url("./images/background-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* altura da viewport (tela do navegdor) - vh */
    width: 100vw; /* largura da viewport (tela do navegdor) - vw */
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menu { /*estilo da div menu (h1, h2 e botões)*/
    height: 90vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

#titulo { /*estilo dos títulos*/
    color: var(--corFontTitulo);
    text-align: center;
}

#titulo h1 {
    font-size: 35px;
}

#titulo h2 {
    font-size: 25px;
}

#botoes { /*estilo dos botões*/
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    height: 70%;
    width: 100%;
}

a {
    height: 100%;
    width: 100%;
}

#botoes button {
    background-color: var(--corCards);
    font-size: 20px;
    border-width: 0px;
    height: 100%;
    width: 100%;
}

#botoes button:hover {
    background-color: var(--corCardsHover);
}

button:hover {
    cursor: pointer;
}

#primeiroBotao {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#ultimoBotao {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#conteudo { /*estilo da div conteúdo*/
    background-color: var(--corCards);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    width: 75vw;
    border-radius: 15px;
}

#exercicio {
    display: flex;
    flex-direction: column;
    text-align: center;
}