:root {
    --corFundo: #3A3042;
    --corCards: #FFE19C;
    --corFont: #DB9D47;
    --cor: #FF784F;
    --cor2: #EDFFD9;
}

body {
    margin: 0;
}

main {
    background-color: var(--corFundo);
    height: 100vh; /* altura da viewport (tela do navegdor) - vh */
    width: 100vw; /* largura da viewport (tela do navegdor) - vw */
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

#menu {
    height: 90%;
    width: 25%;
    padding: 0px;
    justify-content:space-between;
    align-items: center;
    background-color: aquamarine;
}

#titulo {
    color: var(--corFont);
    text-align: center;
}

#titulo h1 {
    font-size: 30px;
}

#titulo h2 {
    font-size: 25px;
}

#botoes {
    background-color: var(--corCards);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    height: 60%;
}

button {
    font-size: 20px;
    color: var(--corFont);
    width: 100%;
    height: 100px;
    background-color: var(--corCards);
    border-width: 0px;   
}

button:hover {
    background-color: #e4c98a;
}

#primeiroBotao {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#conteudo {
    background-color: var(--corCards);
    height: 90%;
    width: 70%;
    border-radius: 15px;
}